<!DOCTYPE html>
<html>

<head>
    <title>Protected Page</title>
</head>
<body style="background-color: <%= color %>">
    <h1>Welcome, <%= nick %> ! </h1>
    <p>This is a protected page.</p>
    <a href="/logout">Logout</a>
</body>

</html>